{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Falcon | Dashboard &amp; Web App Template</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'user_panel/assets/img/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'user_panel/assets/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'user_panel/assets/img/favicons/favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'user_panel/assets/img/favicons/favicon.ico' %}">
    <link rel="manifest" href="{% static 'user_panel/assets/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png' %}">
    <meta name="theme-color" content="#ffffff">
    <script src="{% static 'user_panel/assets/js/config.js' %}"></script>
    <script src="{% static 'user_panel/vendors/overlayscrollbars/OverlayScrollbars.min.js' %}"></script>


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="{% static 'user_panel/vendors/overlayscrollbars/OverlayScrollbars.min.css' %}" rel="stylesheet">
    <link href="{% static 'user_panel/assets/css/theme-rtl.min.css' %}" rel="stylesheet" id="style-rtl">
    <link href="{% static 'user_panel/assets/css/theme.min.css' %}" rel="stylesheet" id="style-default">
    <link href="{% static 'user_panel/assets/css/user-rtl.min.css' %}" rel="stylesheet" id="user-style-rtl">
    <link href="{% static 'user_panel/assets/css/user.min.css' %}" rel="stylesheet" id="user-style-default">
    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>
  </head>

  {% block css %}
  {% endblock %}

  <body>
    {% if messages %}
        {% for message in messages %}
        <div class="toast bg-primary" style="color: white; position: absolute;top: 75px;left: 40%;z-index: 999;">
          <div class="toast-body text-center" id="toast-message">{{message}}</div>
        </div>
      {% endfor %}
    {% endif %}
    

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="container" data-layout="container">
        <script>
          var isFluid = JSON.parse(localStorage.getItem('isFluid'));
          if (isFluid) {
            var container = document.querySelector('[data-layout]');
            container.classList.remove('container');
            container.classList.add('container-fluid');
          }
        </script>

        {% include 'user_panel/views/menu.html' %}

        <div class="content">
        
        {% include 'user_panel/views/header.html' %}

          {% block content %}{% endblock %}

        {% include 'user_panel/views/footer.html' %}
      </div>

    </main>




    <script>
      document.addEventListener('DOMContentLoaded',e=>{
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function(toastEl) {
        // Creates an array of toasts (it only initializes them)
          return new bootstrap.Toast(toastEl) // No need for options; use the default options
        });
       toastList.forEach(toast => toast.show()); // This show them
   
        console.log(toastList); // Testing to see if it works
      });
    </script>
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static 'user_panel/vendors/popper/popper.min.js' %}"></script>
    <script src="{% static 'user_panel/vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'user_panel/vendors/anchorjs/anchor.min.js' %}"></script>
    <script src="{% static 'user_panel/vendors/is/is.min.js' %}"></script>
    <script src="{% static 'user_panel/vendors/echarts/echarts.min.js' %}"></script>
    <script src="{% static 'user_panel/vendors/fontawesome/all.min.js' %}"></script>
    <script src="{% static 'user_panel/vendors/lodash/lodash.min.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static 'user_panel/vendors/list.js/list.min.js' %}"></script>
    <script src="{% static 'user_panel/assets/js/theme.js' %}"></script>
    
    {% block js %}
    {% endblock %}
  </body>


</html>